// Override this file to add your own SCSS styling.

a {
  color: #730e50;
}

a:hover {
  color: #bd3780;
}

.avatar {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    object-fit: cover;
}

.home-section {
  border-bottom: solid 2px;
  border-color:  #f2ecef;
}
